<p>Hello {{name}},</p>

<p>Your account was created on Private Encrypted Cloud.<br />
  Please finish your registration <a href="{{ url }}">here</a>, or provide this registration key
  <strong>{{key}}</strong> on your first
  connection.</p>

<p>This message is confidential. You may not share the key provided to anyone.</p>
